<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <label>Name</label>
                    <input type="text" class="form-control" placeholder="Type a name.." style="width:20em;"
                    #nameInput [(ngModel)]="name">
            </div>

            <div>
                <label>Amount</label>
                <input type="number" class="form-control" placeholder="99" [(ngModel)]="count" id="count" value=""
                    min="1" max="10" step="1" style="width: 6em;" #numberOfGoodsInput>
            </div>
            <div>
                <label>Categories</label><br>
                <select [(ngModel)]="nrss" class="form-control" style="width:16em;">
                    <option selected value="default">-- Choose a category --</option>
                    <option *ngFor="let c of categories"> {{ c.category_name }}</option>
                </select>
            </div>
            <div>
                <!-- <button type="submit" class="btn btn-primary bt" (click)="onClear()">Vyčistit</button> -->
                <button class="btn btn-success" type="submit" (click)="onCreate(nameInput)">Add</button>
                <button type="submit" class="btn btn-danger bt" (click)="onDelete()">Delete all</button>
            </div>
        </div>
    </div>
</div>